# Methods4_addAncillaryData.ipynb
Add ancillary data collected to match Scope-1 CO2 emissions for all datasets.

In [9]:
from matplotlib.pyplot import *
%matplotlib inline

In [10]:
import numpy as np
from matplotlib import pyplot as plt

In [11]:
import pandas as pd
import collections
import os

import csv

In [12]:
import sys
stdout = sys.stdout
reload(sys)
sys.setdefaultencoding('utf-8')
sys.stdout = stdout

In [13]:
pd.set_option('display.max_colwidth', -1)

# Variables

In [14]:
var_city = 'city name'

# Functions

In [15]:
def tag_column_names_with_datasetname(df, tagname):
    """ Add to column name dataset from which column was obtained"""
    
    col_names = list(df)
    
    for cname in col_names:
        if cname != var_city:
            if cname != 'country':
                df.rename(columns = {cname:cname + ' (' + tagname + ')'}, inplace = True)
    
    return df

In [16]:
def fn_mergeDuplicates(df, attr):
    """merges attr_x and attr_y into one single attr after checking for nan"""

    attr_x = attr + '_x'
    attr_y = attr + '_y'
    
    #make common col in df
    df[attr] = np.nan

    #_x exists, _y does not
    condx = (~df[attr_x].isnull() & df[attr_y].isnull() )

    df.loc[condx, attr] = df[attr_x]

    #_y exists, _x does not
    condy = (df[attr_x].isnull() & ~df[attr_y].isnull() )

    df.loc[condy, attr] = df[attr_y]

    #_x == _y
    cond_both = (df[attr_x] == df[attr_y] )

    df.loc[cond_both, attr] = np.nan
    
    df.drop(attr_x, 1, inplace=True)
    df.drop(attr_y, 1, inplace=True)
    
    return df

# Read data

## Merged Emissions datasets
343 cities x 59 columns

In [17]:
# Output file from Methods_mergeEmissionsDatasets.ipynb
femissions = 'DATA/INTERMEDIATE_FILES/merged_emissions_dataset.tsv'
df_emissions = pd.read_csv(femissions, sep="\t", encoding = 'utf-8')

In [18]:
df_emissions.drop('Unnamed: 0', 1, inplace=True)

print df_emissions.shape
df_emissions.head(2)

(343, 59)

,city name,Average altitude (m),Average annual temperature (in Celsius) (CDP),Boundary (CDP),Built-up Area (km2) (PKU),CDP2016 data edited (CDP),CH4_(waste+natgas)/person,CH4_waste/person,CO2 Emissions Per Capita (Ton) (PKU),City GDP (CDP),...,GDP unit (carbonn),GDP (carbonn),GDP year (carbonn),lat (carbonn),lon (carbonn),nGDP (carbonn),pop (carbonn),pop_yr (carbonn),region,scope fraction (CDP)
0,Aarhus,NaN,NaN,Administrative boundary of a local government,NaN,NaN,0.017031,0.010683,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,NaN
1,Abington,86.0,13.6,Other: Municipal boundary,NaN,NaN,0.036729,0.017699,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North America,1.0

## Ancillary datatsets

### Read datatset from Creutzig et al.

In [19]:
#273 cities in GEA+
f_creutzig = 'DATA/ORIGINAL_ANCILLARY_SOURCEFILES/merge_gea_uitp_wb_pruned.tsv'

df_creutzig = pd.read_csv(f_creutzig, sep='\t', encoding = 'utf-8')

df_creutzig.drop('Unnamed: 0', axis=1, inplace=True)

print df_creutzig.shape
df_creutzig.head(2)

(273, 41)

,city name,full city name (GEA),full city name (UITP),full city name (WB),definition (WB),study_year (WB),country,population (GEA),population (UITP),population (WB),...,household_size (GEA+),year_household_size (GEA+),household_source (GEA+),comment_household_size (GEA+),urbanization_ratio (GEA+),water_bounded (GEA+),other_bounded (GEA+),GDP-PPP/cap (GEA),GDP-PPP/cap (UITP),GDP-PPP/cap (WB)
0,Ahmedabad,Ahmadabad,NaN,NaN,NaN,NaN,India,4900000.0,NaN,NaN,...,4.80,2011.0,Household: http://www.censusindia.gov.in/2011census/hlo/District_Tables/Distt_table/24/HH1604-2400CRCD.pdf -- Population: http://www.censusindia.gov.in/2011-prov-results/prov_data_products_gujarat.html,Calculation: pop/household (7208200/1494656),29.235,0.0,River,6247.853521,NaN,NaN
1,Amsterdam,Amsterdam,Amsterdam,NaN,NaN,NaN,Netherlands,743000.0,831499.0,NaN,...,1.82,2004.0,http://www.urbanaudit.org,-999,80.172,1.0,-999,41069.368118,28321.84,NaN

In [20]:
df_creutzig.drop('country', 1, inplace=True)

### Read ancillary data retrieved manually from external sources

In [21]:
fname = 'DATA/ORIGINAL_ANCILLARY_SOURCEFILES/merge_gea_uitp_wb_cdp2016_cdp_only_toFill.xlsx'

#worksheet with manually-added columns.
f_filled = 'with manual edits'

In [22]:
df_filledCreutzig = pd.read_excel(open(fname,'rb'), sheetname=f_filled, encoding = 'utf-8')

In [23]:
#Keep only the new columns that need to be added to df_primary
df_filledCreutzig.drop(u'Account Number (CDP)', 1, inplace=True)
df_filledCreutzig.drop(u'area_size (GEA)', 1, inplace=True)
df_filledCreutzig.drop(u'definition  (WB)', 1, inplace=True)
df_filledCreutzig.drop(u'diesel_price (GEA)', 1, inplace=True)
df_filledCreutzig.drop(u'gasoline_price (GEA)', 1, inplace=True)

#Not consistently collected
df_filledCreutzig.drop(u'pop (others) access date', 1, inplace=True)
df_filledCreutzig.drop(u'area (others) access date', 1, inplace=True)
df_filledCreutzig.drop(u'travel time access date', 1, inplace=True)

#Not used
df_filledCreutzig.drop('pop density (computed)', 1, inplace=True)

In [24]:
#Replace -999 with nan
attr='household_size (updated)'
print df_filledCreutzig.loc[df_filledCreutzig[attr] < 0, attr].count()

df_filledCreutzig.loc[df_filledCreutzig[attr] < 0, attr] = np.nan

19

In [25]:
#Replace -999 with nan
attr='year_household_size (updated)'
print df_filledCreutzig.loc[df_filledCreutzig[attr] < 0, attr].count()

df_filledCreutzig.loc[df_filledCreutzig[attr] < 0, attr] = np.nan

19

In [26]:
#Tag columns with ('others') tag
cname = u'mean travel time [min]'
df_filledCreutzig.rename(columns = {cname:cname + ' (others)'}, inplace = True)

cname = u'mean travel time ref year'
df_filledCreutzig.rename(columns = {cname:cname + ' (others)'}, inplace = True)

cname = u'mean travel time ref'
df_filledCreutzig.rename(columns = {cname:cname + ' (others)'}, inplace = True)

cname = u'diesel_price (2014)'
df_filledCreutzig.rename(columns = {cname:cname + ' (others)'}, inplace = True)

cname = u'gasoline_price (2014)'
df_filledCreutzig.rename(columns = {cname:cname + ' (others)'}, inplace = True)

cname = u'household_size (updated)'
df_filledCreutzig.rename(columns = {cname:cname + ' (others)'}, inplace = True)

cname = u'year_household_size (updated)'
df_filledCreutzig.rename(columns = {cname:cname + ' (others)'}, inplace = True)

cname = u'household_source (updated)'
df_filledCreutzig.rename(columns = {cname:cname + ' (others)'}, inplace = True)

cname = u'comment_household_size (updated)'
df_filledCreutzig.rename(columns = {cname:cname + ' (others)'}, inplace = True)

### Read ancillary fuel data for carbonn and PKU cities

In [27]:
fname = 'DATA/ORIGINAL_ANCILLARY_SOURCEFILES/missingFuel_AP.xlsx'

#worksheet
f_fuel = 'missingFuel'

df_fuel = pd.read_excel(open(fname,'rb'), sheetname=f_fuel, encoding = 'utf-8')
print df_fuel.shape
df_fuel.head(5)

(156, 5)

,city name,country,Scope-1 source dataset,diesel_price (2014) (others),gasoline_price (2014) (others)
5,Aguascalientes,Mexico,carbonn,102,103
6,Ahmedabad,India,carbonn,91,110
12,Anshan,China,PKU,109,117
13,Anyang,China,PKU,109,117
20,Balikpapan,Indonesia,carbonn,80,93

In [28]:
df_fuel.drop('country', 1, inplace=True)
df_fuel.drop('Scope-1 source dataset', 1, inplace=True)

In [29]:
#Convert cents to USD
df_fuel['diesel_price (2014) (others)'] = df_fuel['diesel_price (2014) (others)']/100
df_fuel['gasoline_price (2014) (others)'] = df_fuel['gasoline_price (2014) (others)']/100

df_fuel.head(5)

,city name,diesel_price (2014) (others),gasoline_price (2014) (others)
5,Aguascalientes,1.02,1.03
6,Ahmedabad,0.91,1.10
12,Anshan,1.09,1.17
13,Anyang,1.09,1.17
20,Balikpapan,0.80,0.93

### Read GDP ancillary data for CDP retrieved manually from external sources

In [30]:
#External GDP for CDP cities
f_gdp_cdp = 'DATA/ORIGINAL_ANCILLARY_SOURCEFILES/GDP_all available_24-11-2017_processed.tsv'

df_gdp_cdp = pd.read_csv(f_gdp_cdp, sep='\t', encoding = 'utf-8')

df_gdp_cdp.drop('Unnamed: 0', axis=1, inplace=True)

print df_gdp_cdp.shape
df_gdp_cdp.head(2)

(187, 9)

,city name,GDP-PPP [$BN] (others),GDP-PPP/cap [$USD] (others),GDP-PPP [$BN] (others) source,GDP-PPP year (others),nGDP [$BN] (others),nGDP/cap [$USD] (others),nGDP [$BN] (others) source,nGDP [$BN] (others) source year
0,Aarhus,NaN,NaN,NaN,2008,NaN,NaN,NaN,NaN
1,Abington,NaN,NaN,NaN,2008,NaN,NaN,[20] Economic growth widespread across metropolitan areas in 2014. GDP by metropolitan area statistics. Available at https://bea.gov/newsreleases/regional/gdp_metro/2015/pdf/gdp_metro0915.pdf,NaN

### Read ancillary data for carbonn subset
Ancillary data to merge: GDP, population, city area, household size.  
File is a merge of ancillary data for the 48 hand-selected carbonn + 25 carbonn cities in Creutzig et al.

In [31]:
#49 new carbonn cities + 25 carbonn cities in Creutzig et al.
f_carbonn = 'DATA/ORIGINAL_ANCILLARY_SOURCEFILES/carbonn_ancillary.tsv'

df_carbonn = pd.read_csv(f_carbonn, sep='\t', encoding = 'utf-8')

df_carbonn.drop('Unnamed: 0', axis=1, inplace=True)

print df_carbonn.shape
df_carbonn.head(2)

(73, 18)

,city name,population (others),population (others) source year,population (others) source,area [km2] (others),area [km2] (others) source year,area [km2] (others) source,GDP-PPP [$BN] (others),GDP-PPP/cap [$USD] (others),GDP-PPP [$BN] (others) source,GDP-PPP year (others),nGDP [$BN] (others),nGDP/cap [$USD] (others),nGDP [$BN] (others) source year,nGDP [$BN] (others) source,Household_size,Household_source,Year_Household size
0,Aguascalientes,934424,2012,Wikipedia,385.0,2012,Wikipedia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Balikpapan,736806,2015,Wikipedia,503.3,2015,Wikipedia,NaN,NaN,NaN,NaN,7.0,1.254480e+07,NaN,"[3], [19]",NaN,NaN,NaN

### Read ancillary data collected manually for chinese cities
Ancillary data to merge: lat, lon, population + refs, area + refs

In [32]:
#25 carbonn cities that overlap with Creutzig et al.
f_china_ancillary = 'DATA/ORIGINAL_ANCILLARY_SOURCEFILES/china_ancillary.tsv'

df_china_ancillary = pd.read_csv(f_china_ancillary, sep='\t', encoding = 'utf-8')

df_china_ancillary.drop('Unnamed: 0', axis=1, inplace=True)

print df_china_ancillary.shape
df_china_ancillary.head(2)

(83, 16)

,city name,lat,lon,population (others),population (others) source year,population (others) source,area [km2] (others),area [km2] (others) source year,area [km2] (others) source,GDP-PPP [$BN] (others),GDP-PPP year (others),GDP-PPP/cap [$USD] (others),GDP-PPP [$BN] (others) source,nGDP [$BN] (others),nGDP/cap [$USD] (others),nGDP [$BN] (others) source
0,Beijing,39.916667,116.383333,18766000,NaN,"wikipedia, urban values",1368.0,NaN,"(urban), from wikipedia",0.00000,2015,NaN,[21] Redefining Global Cities Report and online dataset 2015. GDP (Millions PPP$). Brookings Institution. Retrieved 26/09/2017 at https://www.brookings.edu/research/redefining-global-cities/#cancel,206.2,10952.355659,"[3] The Most Dynamic Cities of 2025. Foreign Policy. Retrieved 24/08/2012. http://foreignpolicy.com/2012/08/07/the-most-dynamic-cities-of-2025/, [19]\n[19] Global Cities of the Future. Dynamic map. McKinsey&CompacKinsey Global Institute City Scope v2.0 Last updated June 2012. Retrieved 27/09/2017. Available at: http://www.mckinsey.com/tools/Wrappers/Redesign/InteractiveWrapper.aspx?sc_itemid={C84CB74F-A3B1-47B1-8265-6252F6D85B68}"
1,Tianjin,39.133333,117.183333,12784000,NaN,"wikipedia, urban values",174.9,NaN,"(urban), from wikipedia",0.00364,2014,NaN,"[1] Berube A., J. L. Trujillo, T. Ran, J. Parilla (Thursday, January 22, 2015), Brookings/Global Metro Monitor Report. Available online at https://www.brookings.edu/wp-content/uploads/2015/01/bmpp_gmm_final.pdf and the 2014 Global Metro Monitor Map, available at https://www.brookings.edu/research/global-metro-monitor/. The data retrieved 27/09/2017.",128.8,11614.066727,"[3], [19]"

In [33]:
df_china_ancillary.rename(columns = {'lat': 'lat (PKU)'}, inplace = True)
df_china_ancillary.rename(columns = {'lon': 'lon (PKU)'}, inplace = True)

### Read ancillary data for Japanese cities
Ancillary data to merge: area, population, GDP (unit million USD), diesel & gasoline price, % population growth rate as measured between 2010-2015, altitude (m), avg household size, mean travel time to work (min), HDD 25C/CDD 0C for 2017.

In [34]:
f_japan = 'DATA/ORIGINAL_ANCILLARY_SOURCEFILES/japan_prepared.tsv'

df_japan = pd.read_csv(f_japan, sep='\t', encoding = 'utf-8')

df_japan.drop('Unnamed: 0', axis=1, inplace=True)

print df_japan.shape
df_japan

(7, 18)

,city name,area [km2] (others),population (others),Average altitude (m),household_size (updated) (others),mean travel time [min] (others),GDP [$BN],Scope 1 [tCO2],area [km2] (others) source year,area [km2] (others) source,population (others) source year,population (others) source,year_household_size (updated) (others),household_source (updated) (others),mean travel time ref year (others),mean travel time ref (others),GDP source,GDP source year
0,Hiroshima,906.53,1154391,165.6,2.25,27.9,46.47573,5866540.52,2016,"Planimetric reports on the land area of Japan, http://www.gsi.go.jp/kokusaikoryu/kokusaikoryu-e31006.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2013,"Housing and Land Survey, http://www.stat.go.jp/english/data/jyutaku/index.html","National Accounts of Japan, http://www.esri.cao.go.jp/en/sna/menu.html",2014
1,Kyoto,827.83,1474811,179.7,2.09,28.6,56.49646,6465840.87,2016,"Planimetric reports on the land area of Japan, http://www.gsi.go.jp/kokusaikoryu/kokusaikoryu-e31006.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2013,"Housing and Land Survey, http://www.stat.go.jp/english/data/jyutaku/index.html","National Accounts of Japan, http://www.esri.cao.go.jp/en/sna/menu.html",2014
2,Nagoya,326.45,2215062,18.3,2.17,30.7,115.81709,13844208.98,2016,"Planimetric reports on the land area of Japan, http://www.gsi.go.jp/kokusaikoryu/kokusaikoryu-e31006.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2013,"Housing and Land Survey, http://www.stat.go.jp/english/data/jyutaku/index.html","National Accounts of Japan, http://www.esri.cao.go.jp/en/sna/menu.html",2014
3,Sapporo,1121.26,1880863,70.2,2.12,28.0,60.01644,9892811.22,2016,"Planimetric reports on the land area of Japan, http://www.gsi.go.jp/kokusaikoryu/kokusaikoryu-e31006.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2013,"Housing and Land Survey, http://www.stat.go.jp/english/data/jyutaku/index.html","National Accounts of Japan, http://www.esri.cao.go.jp/en/sna/menu.html",2014
4,Tokyo,2190.93,12576611,43.0,2.02,43.8,938.04581,71096920.30,2016,"Planimetric reports on the land area of Japan, http://www.gsi.go.jp/kokusaikoryu/kokusaikoryu-e31006.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2013,"Housing and Land Survey, http://www.stat.go.jp/english/data/jyutaku/index.html","National Accounts of Japan, http://www.esri.cao.go.jp/en/sna/menu.html",2014
5,Yokohama,437.49,3579628,37.1,2.26,51.5,113.12382,17869514.08,2016,"Planimetric reports on the land area of Japan, http://www.gsi.go.jp/kokusaikoryu/kokusaikoryu-e31006.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2013,"Housing and Land Survey, http://www.stat.go.jp/english/data/jyutaku/index.html","National Accounts of Japan, http://www.esri.cao.go.jp/en/sna/menu.html",2014
6,Sendai,786.30,1025126,105.5,2.18,28.5,45.30468,7082098.37,2016,"Planimetric reports on the land area of Japan, http://www.gsi.go.jp/kokusaikoryu/kokusaikoryu-e31006.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2015,"National Population Census, http://www.stat.go.jp/english/data/kokusei/index.html",2013,"Housing and Land Survey, http://www.stat.go.jp/english/data/jyutaku/index.html","National Accounts of Japan, http://www.esri.cao.go.jp/en/sna/menu.html",2014

# Merge ancillary attributes into merged emissions dataset

## Merge ancillary attributes from Creutzig et al.

In [35]:
print df_creutzig.shape
print df_emissions.shape
print df_creutzig.shape[1] + df_emissions.shape[1]
print df_creutzig.shape[0] + df_emissions.shape[0]

(273, 40)
(343, 59)
99
616

In [36]:
#Find columns in common
colList1 = list(df_emissions)
colList2 = list(df_creutzig)

set(colList1) & set(colList2)

{u'city name'}

In [37]:
df_merge1 = pd.DataFrame()

#Add a flag to indicate that city has ancillary data from D_GEA+
df_creutzig['Ancillary from GEA+'] = 1

df_merge1 = pd.merge(df_emissions, df_creutzig, how='left', on=var_city)

df_merge1.shape  #(343, 99)

(343, 99)

In [38]:
print df_merge1.loc[(df_merge1['Scope-1 source dataset']=='CDP') & (df_merge1['Ancillary from GEA+']==1), var_city].count()
list(df_merge1.loc[(df_merge1['Scope-1 source dataset']=='CDP') & (df_merge1['Ancillary from GEA+']==1), var_city])

57

[u'Amsterdam',
 u'Athens',
 u'Atlanta',
 u'Austin',
 u'Birmingham',
 u'Bogot\xe1',
 u'Bologna',
 u'Boulder',
 u'Bournemouth',
 u'Bras\xedlia',
 u'Calgary',
 u'Cape Town',
 u'Cardiff',
 u'Chicago',
 u'Copenhagen',
 u'Curitiba',
 u'Denver',
 u'Dublin',
 u'Greater London',
 u'Hamburg',
 u'Helsinki',
 u'Hong Kong',
 u'Houston',
 u'Jakarta',
 u'Johannesburg',
 u'Leicester',
 u'Lisbon',
 u'Ljubljana',
 u'Los Angeles',
 u'Madrid',
 u'Manchester',
 u'Melbourne',
 u'Mexico City',
 u'Milano',
 u'Minneapolis',
 u'Montreal',
 u'New York City',
 u'Oslo',
 u'Paris',
 u'Portland, OR',
 u'Pretoria Tshwane',
 u'Rio de Janeiro',
 u'Roma',
 u'San Diego',
 u'San Francisco',
 u'Seattle',
 u'Seoul',
 u'Stockholm',
 u'Sydney',
 u'Taipei City',
 u'Tokyo',
 u'Torino',
 u'Toronto',
 u'Vancouver',
 u'Vilnius',
 u'Wellington',
 u'Z\xfcrich']

## Merge updated ancillary attributes of Creutzig dataset for CDP cities

In [39]:
print df_merge1.shape
print df_filledCreutzig.shape
print df_merge1.shape[1] + df_filledCreutzig.shape[1] -1

(343, 99)
(187, 16)
114

In [40]:
#Find columns in common
colList1 = list(df_merge1)
colList2 = list(df_filledCreutzig)

set(colList1) & set(colList2)

{u'city name'}

In [41]:
df_merge2 = pd.DataFrame()

df_merge2 = pd.merge(df_merge1, df_filledCreutzig, how='outer', on=var_city)

df_merge2.shape

(343, 114)

In [42]:
df_merge2.loc[~df_merge2['mean travel time [min] (others)'].isnull(), var_city].count()

147

## Merge fuel prices for carbonn and PKU cities

In [43]:
print df_merge2.shape
print df_fuel.shape
print 'Number of cities missing fuel price: ' +  repr(df_merge2.loc[df_merge2['diesel_price (2014) (others)'].isnull(), var_city].count())
print 'Number of columns after merge should be: ' +  repr(df_merge2.shape[1] + df_fuel.shape[1] -1)

(343, 114)
(156, 3)
Number of cities missing fuel price: 156
Number of columns after merge should be: 116

In [44]:
df_merge2fuel = pd.DataFrame()

df_merge2fuel = pd.merge(df_merge2, df_fuel, how='outer', on=var_city)

df_merge2fuel.shape

(343, 116)

In [45]:
commonCols = ['diesel_price (2014) (others)', 'gasoline_price (2014) (others)']
commonCols

['diesel_price (2014) (others)', 'gasoline_price (2014) (others)']

In [46]:
for idx in range(0,len(commonCols)): 
    attr = commonCols[idx]
    fn_mergeDuplicates(df_merge2fuel, attr)
        
print '**'

**

In [47]:
#Check
print df_merge2fuel.loc[df_merge2fuel['diesel_price (2014) (others)'].isnull(), var_city].count()
#=> check OK.

0

In [48]:
#Check
print df_merge2fuel.loc[df_merge2fuel['gasoline_price (2014) (others)'].isnull(), var_city]
#=> check OK.

Series([], Name: city name, dtype: object)

## Merge ancillary attributes from external sources for Chinese cities

In [49]:
print df_merge2fuel.shape
print df_china_ancillary.shape
print 'Number of columns after merge should be: ' +  repr(df_merge2fuel.shape[1] + df_china_ancillary.shape[1] -1)

(343, 114)
(83, 16)
Number of columns after merge should be: 129

In [50]:
list(df_china_ancillary)

[u'city name',
 'lat (PKU)',
 'lon (PKU)',
 u'population (others)',
 u'population (others) source year',
 u'population (others) source',
 u'area [km2] (others)',
 u'area [km2] (others) source year',
 u'area [km2] (others) source',
 u'GDP-PPP [$BN] (others)',
 u'GDP-PPP year (others)',
 u'GDP-PPP/cap [$USD] (others)',
 u'GDP-PPP [$BN] (others) source',
 u'nGDP [$BN] (others)',
 u'nGDP/cap [$USD] (others)',
 u'nGDP [$BN] (others) source']

In [51]:
#Find columns in common
colList1 = list(df_merge2)
colList2 = list(df_china_ancillary)

commonCols = list(set(colList1) & set(colList2)) #=> 7 common column1 therefore merged df should have 116 -7 = 109 columns, 343 cities
commonCols

[u'population (others) source year',
 u'area [km2] (others)',
 u'population (others)',
 u'area [km2] (others) source year',
 u'area [km2] (others) source',
 u'city name',
 u'population (others) source']

In [52]:
df_merge3 = pd.DataFrame()

df_merge3 = pd.merge(df_merge2fuel, df_china_ancillary, how='left', on=var_city)

df_merge3.shape

(343, 129)

In [53]:
for idx in range(0,len(commonCols)): 
    attr = commonCols[idx]
    if attr != var_city:
        fn_mergeDuplicates(df_merge3, attr)
        
print '**'

**

## Merge external GDP data

### GDP data for CDP

In [54]:
print df_merge3.shape
print df_gdp_cdp.shape

(343, 123)
(187, 9)

In [55]:
list(df_gdp_cdp)

[u'city name',
 u'GDP-PPP [$BN] (others)',
 u'GDP-PPP/cap [$USD] (others)',
 u'GDP-PPP [$BN] (others) source',
 u'GDP-PPP year (others)',
 u'nGDP [$BN] (others)',
 u'nGDP/cap [$USD] (others)',
 u'nGDP [$BN] (others) source',
 u'nGDP [$BN] (others) source year']

In [56]:
#Find columns in common
colList1 = list(df_merge3)
colList2 = list(df_gdp_cdp)

commonCols = list(set(colList1) & set(colList2)) #=> 1 common column1 therefore merged df should have 117 -1 = 116 columns, 343 cities
commonCols

[u'nGDP [$BN] (others)',
 u'GDP-PPP year (others)',
 u'GDP-PPP/cap [$USD] (others)',
 u'GDP-PPP [$BN] (others)',
 u'city name',
 u'nGDP [$BN] (others) source',
 u'nGDP/cap [$USD] (others)',
 u'GDP-PPP [$BN] (others) source']

In [57]:
#Find columns in common
colList1 = list(df_merge3)
colList2 = list(df_gdp_cdp)

commonCols = list(set(colList1) & set(colList2)) #=> 1 common column1 therefore merged df should have 117 -1 = 116 columns, 343 cities
commonCols

[u'nGDP [$BN] (others)',
 u'GDP-PPP year (others)',
 u'GDP-PPP/cap [$USD] (others)',
 u'GDP-PPP [$BN] (others)',
 u'city name',
 u'nGDP [$BN] (others) source',
 u'nGDP/cap [$USD] (others)',
 u'GDP-PPP [$BN] (others) source']

In [58]:
print 'Number of columns after merge should be: ' +  repr(df_merge3.shape[1] + df_gdp_cdp.shape[1] -len(commonCols))

Number of columns after merge should be: 124

In [59]:
df_merge4 = pd.DataFrame()

df_merge4 = pd.merge(df_merge3, df_gdp_cdp, how='left', on=var_city)

df_merge4.shape

(343, 131)

In [60]:
for idx in range(0,len(commonCols)): 
    attr = commonCols[idx]
    if attr != var_city:
        fn_mergeDuplicates(df_merge4, attr)
        
print '**'

**

In [61]:
print df_merge4.shape

(343, 124)

### GDP + ancillary data for carbonn subset

In [62]:
print df_merge4.shape
print df_carbonn.shape

(343, 124)
(73, 18)

In [63]:
#Find columns in common
colList1 = list(df_merge4)
colList2 = list(df_carbonn)

commonCols = list(set(colList1) & set(colList2) )
commonCols

[u'population (others) source year',
 u'area [km2] (others)',
 u'population (others)',
 u'nGDP [$BN] (others)',
 u'GDP-PPP year (others)',
 u'GDP-PPP/cap [$USD] (others)',
 u'GDP-PPP [$BN] (others)',
 u'area [km2] (others) source year',
 u'area [km2] (others) source',
 u'city name',
 u'nGDP [$BN] (others) source',
 u'GDP-PPP [$BN] (others) source',
 u'population (others) source',
 u'nGDP/cap [$USD] (others)',
 u'nGDP [$BN] (others) source year']

In [64]:
#new columns to be added to merge
newCols = list(set(colList2)-set(colList1))
print newCols

[u'Year_Household size', u'Household_source', u'Household_size']

In [65]:
df_merge5 = pd.DataFrame()

df_merge5 = pd.merge(df_merge4, df_carbonn, on=var_city, how='left')

print df_merge5.shape

(343, 141)

#### Consolidate duplicate columns (keep non-nan value)

In [66]:
for idx in range(0,len(commonCols)): 
    attr = commonCols[idx]
    if attr != var_city:
        fn_mergeDuplicates(df_merge5, attr)
    
print '**'
print df_merge5.shape

**
(343, 127)

In [67]:
#Reorder first instances of GDP ref

#nGDP
df_merge5.loc[df_merge5[var_city]=='Ahmedabad','nGDP [$BN] (others) source'] = '[3] The Most Dynamic Cities of 2025. Foreign Policy. Retrieved 24/08/2012. http://foreignpolicy.com/2012/08/07/the-most-dynamic-cities-of-2025/,\n[19] Global Cities of the Future. Dynamic map. McKinsey&CompacKinsey Global Institute City Scope v2.0 Last updated June 2012. Retrieved 27/09/2017. Available at: http://www.mckinsey.com/tools/Wrappers/Redesign/InteractiveWrapper.aspx?sc_itemid={C84CB74F-A3B1-47B1-8265-6252F6D85B68}'

df_merge5.loc[df_merge5[var_city]=='Beijing','nGDP [$BN] (others) source'] = '[3], [19]'

df_merge5.loc[df_merge5[var_city]=='Boston','nGDP [$BN] (others) source'] = '[19]'

df_merge5.loc[df_merge5[var_city]=='Hong Kong','nGDP [$BN] (others) source'] = '[3]'

#GDP-PPP
df_merge5.loc[df_merge5[var_city]=='Ahmedabad','GDP-PPP [$BN] (others) source'] = '[2]'
df_merge5.loc[df_merge5[var_city]=='Tianjin','GDP-PPP [$BN] (others) source'] = '[1]'

#### compare household size data from Creutzig et. al with external source manually collected for carbonn cities in Creutzig et al.

From Creutzig et al:
* 'household_size (GEA|UITP|WB)',
* 'year_household_size (GEA|UITP|WB)',
* 'household_source (GEA|UITP|WB)',
* 'comment_household_size (GEA|UITP|WB)'

From external sources manually collected for carbonn cities in Creutzig et al. (but not in CDP):  
* 'Household_size',
* 'Year_Household size',
* 'Household_source',

From external sources manually collected for CDP cities in Creutzig et al.:  
* 'household_size (updated) (external)',
* 'year_household_size (updated) (external)',
* 'household_source (updated) (external)',
* 'comment_household_size (updated) (external)',

In [68]:
df_merge5.loc[~df_merge5['Year_Household size'].isnull(), [var_city, 'Year_Household size']]

          city name Year_Household size
6    Ahmedabad       2011
23   Bangalore       2011
26   Barcelona       2014
48   Bristol         2013
49   Brussels        2014
51   Buffalo City    2007
85   Ekurhuleni      2007
92   Fort Collins    2012-2016
100  Graz            2013
106  GÃ¤vle           2017
137  Istanbul        2016
157  Kyoto           2018
180  Lyon            2012
192  Msunduzi        2007
201  Nantes          2012
203  Nelson Mandela  2007
262  Sapporo         2018
275  Singapore       2016
301  UmeÃ¥            2017
303  Uppsala         2017
308  VÃ¤xjÃ¶           2017
339  eThekwini       2007
341  Ã–rebro          2017

In [69]:
#household size data for carbonn_venn cities missing from Creutzig can be put into external columns
cond1 = ~df_merge5['Year_Household size'].isnull() #external for carbonn_venn cities
cond2 = df_merge5['year_household_size (GEA+)'].isnull()

df_merge5.loc[cond1 & cond2, 

[var_city,'Measurement year only (CDP)','Scope 1 year', 'Year_Household size', 
  'year_household_size (updated) (others)', 'year_household_size (GEA+)']
]

var_hh = 'household_size (updated) (others)'
var_hh_yr = 'year_household_size (updated) (others)'
var_hh_source = 'household_source (updated) (others)'
cityList = list(df_merge5.loc[cond1 & cond2,var_city])
print cityList

for idx in range(len(cityList)):
    print cityList[idx]
    df_merge5.loc[df_merge5[var_city] == cityList[idx], var_hh] = df_merge5['Household_size']
    df_merge5.loc[df_merge5[var_city] == cityList[idx], var_hh_yr] = df_merge5['Year_Household size']
    df_merge5.loc[df_merge5[var_city] == cityList[idx], var_hh_source] = df_merge5['Household_source']

[u'Fort Collins', u'Graz', u'Kyoto', u'Sapporo']
Fort Collins
Graz
Kyoto
Sapporo

In [70]:
#Check
df_merge5.loc[cond1 & cond2, 

[var_city,'Measurement year only (CDP)','Year of Emission', 'Year_Household size', 
  'year_household_size (updated) (others)', 'year_household_size (GEA+)']
]
#=> OK

,city name,Measurement year only (CDP),Year of Emission,Year_Household size,year_household_size (updated) (others),year_household_size (GEA+)
92,Fort Collins,NaN,2016.0,2012-2016,2012-2016,NaN
100,Graz,NaN,1994.0,2013,2013,NaN
157,Kyoto,NaN,2011.0,2018,2018,NaN
262,Sapporo,NaN,2014.0,2018,2018,NaN

In [71]:
#For the remaining, keep household size data whose year is closest to emissions year

cond1 = ~df_merge5['Year_Household size'].isnull()
cond2 = ~df_merge5['year_household_size (GEA+)'].isnull()


df_tmp = df_merge5.loc[cond1 & cond2, 
    [var_city,'Measurement year only (CDP)','Year of Emission', 'Year_Household size', 'year_household_size (GEA+)']
]

df_tmp

,city name,Measurement year only (CDP),Year of Emission,Year_Household size,year_household_size (GEA+)
6,Ahmedabad,NaN,2008.0,2011,2011.0
23,Bangalore,NaN,2008.0,2011,2011.0
26,Barcelona,NaN,2012.0,2014,2004.0
48,Bristol,NaN,2012.0,2013,2011.0
49,Brussels,NaN,2011.0,2014,2010.0
51,Buffalo City,NaN,2007.0,2007,2010.0
85,Ekurhuleni,NaN,2014.0,2007,2007.0
106,GÃ¤vle,NaN,2011.0,2017,2011.0
137,Istanbul,NaN,2010.0,2016,2000.0
180,Lyon,NaN,2010.0,2012,2009.0
192,Msunduzi,NaN,2015.0,2007,2007.0
201,Nantes,NaN,2003.0,2012,2009
203,Nelson Mandela,NaN,2012.0,2007,2007.0
275,Singapore,NaN,2010.0,2016,2010
301,UmeÃ¥,NaN,2013.0,2017,2011
303,Uppsala,NaN,2014.0,2017,2011
308,VÃ¤xjÃ¶,NaN,2013.0,2017,2011
339,eThekwini,NaN,2015.0,2007,2007.0
341,Ã–rebro,NaN,2015.0,2017,2011.0

In [72]:
cond1 = abs(df_tmp['Year_Household size'].astype(float).values - df_tmp['Year of Emission'].values)
cond2 = abs(df_tmp['year_household_size (GEA+)'].astype(float).values - df_tmp['Year of Emission'].astype(int).values)

df_tmp.loc[cond1 < cond2, 
           [var_city,'Measurement year only (CDP)','Year of Emission', 'Year_Household size', 
            'year_household_size (GEA+)']

]

,city name,Measurement year only (CDP),Year of Emission,Year_Household size,year_household_size (GEA+)
26,Barcelona,NaN,2012.0,2014,2004.0
51,Buffalo City,NaN,2007.0,2007,2010.0
137,Istanbul,NaN,2010.0,2016,2000.0
341,Ã–rebro,NaN,2015.0,2017,2011.0

In [73]:
#Conclusion: replace (GEA+) household size data for the four cities found above:
cityList = list(df_tmp.loc[cond1 < cond2, var_city] )
print cityList

var_hh = 'household_size (updated) (others)'
var_hh_yr = 'year_household_size (updated) (others)'
var_hh_source = 'household_source (updated) (others)'


for idx in range(len(cityList)):
    df_merge5.loc[df_merge5[var_city] == cityList[idx], var_hh] = df_merge5['Household_size']
    df_merge5.loc[df_merge5[var_city] == cityList[idx], var_hh_yr] = df_merge5['Year_Household size']
    df_merge5.loc[df_merge5[var_city] == cityList[idx], var_hh_source] = df_merge5['Household_source']

[u'Barcelona', u'Buffalo City', u'Istanbul', u'\xd6rebro']

In [74]:
#Check

cond1 = ~df_merge5['Year_Household size'].isnull()
cond2 = ~df_merge5['year_household_size (GEA+)'].isnull()
df_merge5.loc[cond1 & cond2, 

[var_city,'Measurement year only (CDP)','Year of Emission', 'Year_Household size', 
  'year_household_size (updated) (others)', 'year_household_size (GEA+)']
]
#=> OK

,city name,Measurement year only (CDP),Year of Emission,Year_Household size,year_household_size (updated) (others),year_household_size (GEA+)
6,Ahmedabad,NaN,2008.0,2011,NaN,2011.0
23,Bangalore,NaN,2008.0,2011,NaN,2011.0
26,Barcelona,NaN,2012.0,2014,2014,2004.0
48,Bristol,NaN,2012.0,2013,NaN,2011.0
49,Brussels,NaN,2011.0,2014,NaN,2010.0
51,Buffalo City,NaN,2007.0,2007,2007,2010.0
85,Ekurhuleni,NaN,2014.0,2007,NaN,2007.0
106,GÃ¤vle,NaN,2011.0,2017,NaN,2011.0
137,Istanbul,NaN,2010.0,2016,2016,2000.0
180,Lyon,NaN,2010.0,2012,NaN,2009.0
192,Msunduzi,NaN,2015.0,2007,NaN,2007.0
201,Nantes,NaN,2003.0,2012,NaN,2009
203,Nelson Mandela,NaN,2012.0,2007,NaN,2007.0
275,Singapore,NaN,2010.0,2016,NaN,2010
301,UmeÃ¥,NaN,2013.0,2017,NaN,2011
303,Uppsala,NaN,2014.0,2017,NaN,2011
308,VÃ¤xjÃ¶,NaN,2013.0,2017,NaN,2011
339,eThekwini,NaN,2015.0,2007,NaN,2007.0
341,Ã–rebro,NaN,2015.0,2017,2017,2011.0

In [75]:
#Drop household size columns from df_carbonn_venn that are now no longer needed
df_merge5.drop('Household_size', 1, inplace=True)
df_merge5.drop('Year_Household size', 1, inplace=True)
df_merge5.drop('Household_source', 1, inplace=True)

In [76]:
print df_merge5.shape

(343, 124)

# Merge ancillary attributes from NEIS dataset

In [77]:
def compare_colValues(df_master, df_new, city_names, col_names):
    """ Compare values for same attribute"""
    
    for city in city_names:
        for col in col_names:
            m = df_master.loc[df_master[var_city]==city, col].tolist()[0]
            new = df_new.loc[df_new[var_city]==city, col].tolist()[0]
            print city + ' ' + repr(col) + ': ' + repr(m) + ' (master)'
            print city + ' ' + repr(col) + ': ' + repr(new) + ' (new)'
            print ''
        print '----------------------------------------------------------'
    
    
#     return df

In [78]:
def fill_colValues(df_master, df_new, city_names, col_names):
    """ Fill values of df_master with values from df_new for given attribute"""
    
    for city in city_names:
        for col in col_names:           
            new = df_new.loc[df_new[var_city]==city, col].tolist()[0]
            df_master.loc[df_master[var_city]==city, col] = new

    return df_master

In [79]:
df_japan.shape

(7, 18)

In [80]:
#Compare external values with those values already obtained

cdp_cityList = list(df_emissions.loc[df_emissions['country'].str.contains('Japan'), var_city])

cdppattern = '|'.join(cdp_cityList)
cdppattern

u'Hiroshima|Kyoto|Nagoya|Okayama|Osaka|Sapporo|Sendai|Tokyo|Yokohama'

In [81]:
#Cities in common with CDP
print df_japan.loc[df_japan[var_city].str.contains(cdppattern), var_city].count()
venn_japan = df_japan.loc[df_japan[var_city].str.contains(cdppattern), var_city].tolist()
print venn_japan

#=> All 7 cities in df_japan are in CDP.
#=> Osaka in CDP is not in df_japan; Okayama was removed

7
[u'Hiroshima', u'Kyoto', u'Nagoya', u'Sapporo', u'Tokyo', u'Yokohama', u'Sendai']

In [82]:
col_names = ['Average altitude (m)','area [km2] (others)', 'population (others)', 'household_size (updated) (others)', 'mean travel time [min] (others)']
compare_colValues(df_merge5, df_japan, venn_japan, col_names)

Hiroshima 'Average altitude (m)': nan (master)
Hiroshima 'Average altitude (m)': 165.6 (new)

Hiroshima 'area [km2] (others)': 906.53 (master)
Hiroshima 'area [km2] (others)': 906.53 (new)

Hiroshima 'population (others)': 1196274.0 (master)
Hiroshima 'population (others)': 1154391 (new)

Hiroshima 'household_size (updated) (others)': 2.21 (master)
Hiroshima 'household_size (updated) (others)': 2.25 (new)

Hiroshima 'mean travel time [min] (others)': 30.9 (master)
Hiroshima 'mean travel time [min] (others)': 27.9 (new)

----------------------------------------------------------
Kyoto 'Average altitude (m)': nan (master)
Kyoto 'Average altitude (m)': 179.7 (new)

Kyoto 'area [km2] (others)': 827.83 (master)
Kyoto 'area [km2] (others)': 827.83 (new)

Kyoto 'population (others)': 1475183.0 (master)
Kyoto 'population (others)': 1474811 (new)

Kyoto 'household_size (updated) (others)': 2.05 (master)
Kyoto 'household_size (updated) (others)': 2.09 (new)

Kyoto 'mean travel time [min] (others)': nan (master)
Kyoto 'mean travel time [min] (others)': 28.6 (new)

----------------------------------------------------------
Nagoya 'Average altitude (m)': nan (master)
Nagoya 'Average altitude (m)': 18.3 (new)

Nagoya 'area [km2] (others)': 326.43 (master)
Nagoya 'area [km2] (others)': 326.45 (new)

Nagoya 'population (others)': 2283289.0 (master)
Nagoya 'population (others)': 2215062 (new)

Nagoya 'household_size (updated) (others)': 2.13 (master)
Nagoya 'household_size (updated) (others)': 2.17 (new)

Nagoya 'mean travel time [min] (others)': nan (master)
Nagoya 'mean travel time [min] (others)': 30.7 (new)

----------------------------------------------------------
Sapporo 'Average altitude (m)': nan (master)
Sapporo 'Average altitude (m)': 70.2 (new)

Sapporo 'area [km2] (others)': 1121.12 (master)
Sapporo 'area [km2] (others)': 1121.26 (new)

Sapporo 'population (others)': 1947097.0 (master)
Sapporo 'population (others)': 1880863 (new)

Sapporo 'household_size (updated) (others)': 2.08 (master)
Sapporo 'household_size (updated) (others)': 2.12 (new)

Sapporo 'mean travel time [min] (others)': nan (master)
Sapporo 'mean travel time [min] (others)': 28.0 (new)

----------------------------------------------------------
Tokyo 'Average altitude (m)': nan (master)
Tokyo 'Average altitude (m)': 43.0 (new)

Tokyo 'area [km2] (others)': 2191.0 (master)
Tokyo 'area [km2] (others)': 2190.93 (new)

Tokyo 'population (others)': 13513734.0 (master)
Tokyo 'population (others)': 12576611 (new)

Tokyo 'household_size (updated) (others)': 1.99 (master)
Tokyo 'household_size (updated) (others)': 2.02 (new)

Tokyo 'mean travel time [min] (others)': 34.8 (master)
Tokyo 'mean travel time [min] (others)': 43.8 (new)

----------------------------------------------------------
Yokohama 'Average altitude (m)': 39.0 (master)
Yokohama 'Average altitude (m)': 37.1 (new)

Yokohama 'area [km2] (others)': 437.0 (master)
Yokohama 'area [km2] (others)': 437.49 (new)

Yokohama 'population (others)': 3720000.0 (master)
Yokohama 'population (others)': 3579628 (new)

Yokohama 'household_size (updated) (others)': 2.23 (master)
Yokohama 'household_size (updated) (others)': 2.26 (new)

Yokohama 'mean travel time [min] (others)': nan (master)
Yokohama 'mean travel time [min] (others)': 51.5 (new)

----------------------------------------------------------
Sendai 'Average altitude (m)': nan (master)
Sendai 'Average altitude (m)': 105.5 (new)

Sendai 'area [km2] (others)': 786.3 (master)
Sendai 'area [km2] (others)': 786.3 (new)

Sendai 'population (others)': 1086012.0 (master)
Sendai 'population (others)': 1025126 (new)

Sendai 'household_size (updated) (others)': nan (master)
Sendai 'household_size (updated) (others)': 2.18 (new)

Sendai 'mean travel time [min] (others)': nan (master)
Sendai 'mean travel time [min] (others)': 28.5 (new)

----------------------------------------------------------

In [83]:
df_merge5.loc[(df_merge5['country']=='Japan'), [var_city, 'mean travel time [min] (others)'] ]

     city name  mean travel time [min] (others)
122  Hiroshima  30.9
157  Kyoto     NaN
195  Nagoya    NaN
211  Okayama    28.6
212  Osaka     NaN
262  Sapporo   NaN
267  Sendai    NaN
291  Tokyo      34.8
329  Yokohama  NaN

## Manually fill in values with values from D<sup>NIES</sup>

In [84]:
col_names = ['Average altitude (m)','area [km2] (others)', 'population (others)', 'household_size (updated) (others)', 'mean travel time [min] (others)']
fill_colValues(df_merge5, df_japan, venn_japan, col_names)

#Check:
compare_colValues(df_merge5, df_japan, venn_japan, col_names)
#=> ok

Hiroshima 'Average altitude (m)': 165.6 (master)
Hiroshima 'Average altitude (m)': 165.6 (new)

Hiroshima 'area [km2] (others)': 906.53 (master)
Hiroshima 'area [km2] (others)': 906.53 (new)

Hiroshima 'population (others)': 1154391.0 (master)
Hiroshima 'population (others)': 1154391 (new)

Hiroshima 'household_size (updated) (others)': 2.25 (master)
Hiroshima 'household_size (updated) (others)': 2.25 (new)

Hiroshima 'mean travel time [min] (others)': 27.9 (master)
Hiroshima 'mean travel time [min] (others)': 27.9 (new)

----------------------------------------------------------
Kyoto 'Average altitude (m)': 179.7 (master)
Kyoto 'Average altitude (m)': 179.7 (new)

Kyoto 'area [km2] (others)': 827.83 (master)
Kyoto 'area [km2] (others)': 827.83 (new)

Kyoto 'population (others)': 1474811.0 (master)
Kyoto 'population (others)': 1474811 (new)

Kyoto 'household_size (updated) (others)': 2.09 (master)
Kyoto 'household_size (updated) (others)': 2.09 (new)

Kyoto 'mean travel time [min] (others)': 28.6 (master)
Kyoto 'mean travel time [min] (others)': 28.6 (new)

----------------------------------------------------------
Nagoya 'Average altitude (m)': 18.3 (master)
Nagoya 'Average altitude (m)': 18.3 (new)

Nagoya 'area [km2] (others)': 326.45 (master)
Nagoya 'area [km2] (others)': 326.45 (new)

Nagoya 'population (others)': 2215062.0 (master)
Nagoya 'population (others)': 2215062 (new)

Nagoya 'household_size (updated) (others)': 2.17 (master)
Nagoya 'household_size (updated) (others)': 2.17 (new)

Nagoya 'mean travel time [min] (others)': 30.7 (master)
Nagoya 'mean travel time [min] (others)': 30.7 (new)

----------------------------------------------------------
Sapporo 'Average altitude (m)': 70.2 (master)
Sapporo 'Average altitude (m)': 70.2 (new)

Sapporo 'area [km2] (others)': 1121.26 (master)
Sapporo 'area [km2] (others)': 1121.26 (new)

Sapporo 'population (others)': 1880863.0 (master)
Sapporo 'population (others)': 1880863 (new)

Sapporo 'household_size (updated) (others)': 2.12 (master)
Sapporo 'household_size (updated) (others)': 2.12 (new)

Sapporo 'mean travel time [min] (others)': 28.0 (master)
Sapporo 'mean travel time [min] (others)': 28.0 (new)

----------------------------------------------------------
Tokyo 'Average altitude (m)': 43.0 (master)
Tokyo 'Average altitude (m)': 43.0 (new)

Tokyo 'area [km2] (others)': 2190.93 (master)
Tokyo 'area [km2] (others)': 2190.93 (new)

Tokyo 'population (others)': 12576611.0 (master)
Tokyo 'population (others)': 12576611 (new)

Tokyo 'household_size (updated) (others)': 2.02 (master)
Tokyo 'household_size (updated) (others)': 2.02 (new)

Tokyo 'mean travel time [min] (others)': 43.8 (master)
Tokyo 'mean travel time [min] (others)': 43.8 (new)

----------------------------------------------------------
Yokohama 'Average altitude (m)': 37.1 (master)
Yokohama 'Average altitude (m)': 37.1 (new)

Yokohama 'area [km2] (others)': 437.49 (master)
Yokohama 'area [km2] (others)': 437.49 (new)

Yokohama 'population (others)': 3579628.0 (master)
Yokohama 'population (others)': 3579628 (new)

Yokohama 'household_size (updated) (others)': 2.26 (master)
Yokohama 'household_size (updated) (others)': 2.26 (new)

Yokohama 'mean travel time [min] (others)': 51.5 (master)
Yokohama 'mean travel time [min] (others)': 51.5 (new)

----------------------------------------------------------
Sendai 'Average altitude (m)': 105.5 (master)
Sendai 'Average altitude (m)': 105.5 (new)

Sendai 'area [km2] (others)': 786.3 (master)
Sendai 'area [km2] (others)': 786.3 (new)

Sendai 'population (others)': 1025126.0 (master)
Sendai 'population (others)': 1025126 (new)

Sendai 'household_size (updated) (others)': 2.18 (master)
Sendai 'household_size (updated) (others)': 2.18 (new)

Sendai 'mean travel time [min] (others)': 28.5 (master)
Sendai 'mean travel time [min] (others)': 28.5 (new)

----------------------------------------------------------

In [85]:
print df_merge5.loc[~df_merge5['mean travel time [min] (others)'].isnull(), var_city].count()

152

In [86]:
cname='Nagoya'

s1_cdp = df_emissions.loc[df_emissions[var_city]==cname, 'Scope-1 GHG emissions']
s1_japan = df_japan.loc[df_japan[var_city]==cname, 'Scope 1 [tCO2]']
print s1_cdp
print s1_japan

print ''
print float(s1_cdp)/float(s1_japan ) * 100

195    7690000.0
Name: Scope-1 GHG emissions, dtype: float64
2    13844208.98
Name: Scope 1 [tCO2], dtype: float64

55.5466911191

In [87]:
cname='Kyoto'

s1_cdp = df_emissions.loc[df_emissions[var_city]==cname, 'Scope-1 GHG emissions']
s1_japan = df_japan.loc[df_japan[var_city]==cname, 'Scope 1 [tCO2]']
print s1_cdp
print s1_japan

print ''
print float(s1_cdp)/float(s1_japan ) * 100

157    7684000.0
Name: Scope-1 GHG emissions, dtype: float64
1    6465840.87
Name: Scope 1 [tCO2], dtype: float64

118.839918187

In [88]:
#CDP does not have Scope 1 for Hiroshima
cname='Hiroshima'
df_emissions.loc[df_emissions[var_city]==cname, ['Scope-1 GHG emissions', 'Scope 2 [metric ton CO2e] (CDP)', 'Total Emissions [metric ton CO2e] (CDP)'] ]

,Scope-1 GHG emissions,Scope 2 [metric ton CO2e] (CDP),Total Emissions [metric ton CO2e] (CDP)
122,NaN,NaN,8675437.0

In [89]:
cname='Yokohama'

s1_cdp = df_emissions.loc[df_emissions[var_city]==cname, 'Scope-1 GHG emissions']
s1_japan = df_japan.loc[df_japan[var_city]==cname, 'Scope 1 [tCO2]']
print s1_cdp
print s1_japan

print ''
print float(s1_cdp)/float(s1_japan ) * 100

329    12572000.0
Name: Scope-1 GHG emissions, dtype: float64
5    17869514.08
Name: Scope 1 [tCO2], dtype: float64

70.3544592411

In [90]:
cname='Tokyo'

s1_cdp = df_emissions.loc[df_emissions[var_city]==cname, 'Scope-1 GHG emissions']
s1_japan = df_japan.loc[df_japan[var_city]==cname, 'Scope 1 [tCO2]']
print s1_cdp
print s1_japan

print ''
print float(s1_cdp)/float(s1_japan ) * 100

291    27611000.0
Name: Scope-1 GHG emissions, dtype: float64
4    71096920.3
Name: Scope 1 [tCO2], dtype: float64

38.8357187393

In [91]:
cname='Sapporo'

s1_cdp = df_emissions.loc[df_emissions[var_city]==cname, 'Scope-1 GHG emissions']
s1_japan = df_japan.loc[df_japan[var_city]==cname, 'Scope 1 [tCO2]']
print s1_cdp
print s1_japan

print ''
print float(s1_cdp)/float(s1_japan ) * 100

262    13024847.61
Name: Scope-1 GHG emissions, dtype: float64
3    9892811.22
Name: Scope 1 [tCO2], dtype: float64

131.659720582

In [92]:
df_japan = df_japan.drop('Scope 1 [tCO2]', 1)

# Merge ancillary attributes from Traffic datasets

## INRIX
Note: The following cities are NOT in INRIX:
* North Vancouver
* London, ON  

**118 cities in INRIX overlap with D<sup>emissions</sup>.**

In [93]:
f_inrix = 'DATA/ORIGINAL_ANCILLARY_SOURCEFILES/INRIX_2016_Traffic_Scorecard_Appendix_EN_TableA2.xlsx'

df_inrix = pd.read_excel(open(f_inrix,'rb'), sheetname='TableA2', encoding = 'utf-8')

In [94]:
list(df_inrix)

[u'RANK',
 u'city name',
 u'CITY (ORIG)',
 u'COUNTRY',
 u'CONTINENT',
 u'PEAK HOURS SPENT IN CONGESTION',
 u'INRIX CONGESTION INDEX',
 u'AVERAGE CONGESTION RATE']

In [95]:
#Rename columns
df_inrix.rename(columns = {'PEAK HOURS SPENT IN CONGESTION':'Peak hours spent in congestion'}, inplace = True)
df_inrix.rename(columns = {'AVERAGE CONGESTION RATE':'Average Congestion Rate'}, inplace = True)
df_inrix.rename(columns = {'RANK':'Congestion Rank'}, inplace = True)
df_inrix.rename(columns = {'INRIX CONGESTION INDEX':'INRIX Congestion Index'}, inplace = True)

In [96]:
list(df_inrix)

['Congestion Rank',
 u'city name',
 u'CITY (ORIG)',
 u'COUNTRY',
 u'CONTINENT',
 'Peak hours spent in congestion',
 'INRIX Congestion Index',
 'Average Congestion Rate']

In [97]:
tag_column_names_with_datasetname(df_inrix, 'INRIX')

print df_inrix.shape
list(df_inrix)

(1064, 8)

['Congestion Rank (INRIX)',
 u'city name',
 u'CITY (ORIG) (INRIX)',
 u'COUNTRY (INRIX)',
 u'CONTINENT (INRIX)',
 'Peak hours spent in congestion (INRIX)',
 'INRIX Congestion Index (INRIX)',
 'Average Congestion Rate (INRIX)']

In [98]:
df_inrix.drop('CITY (ORIG) (INRIX)', 1, inplace=True)
df_inrix.drop('COUNTRY (INRIX)', 1, inplace=True)
df_inrix.drop('CONTINENT (INRIX)', 1, inplace=True)

In [99]:
#MERGE INRIX
print df_merge5.shape

df_merge6 = df_merge5 = pd.merge(df_merge5, df_inrix, on=var_city, how='left')

print df_merge6.shape

(343, 124)
(343, 128)

In [100]:
df_merge6.loc[~df_merge6['Congestion Rank (INRIX)'].isnull(), var_city].count()

118

In [101]:
mergedList = list(df_merge6.loc[~df_merge6['Congestion Rank (INRIX)'].isnull(), var_city].sort_values())
print len(mergedList)

118

## TomTom
Note: The following cities are NOT in TomTom:  
* Brisbane, CA (Brisbane Australia is in TomTom)  
* Buffalo City (Buffalo, USA is in TomTom)
* District of Columbia (Columbia, South Carolina is in TomTom)
* North Vancouver (Vancouver is in TomTom)  

Note: 'Nashville' in TomTom edited to 'Nashville and Davidson' to match emissions dataset  

**123 cities in INRIX overlap with D<sup>emissions</sup>.**

In [102]:
f_tomtom = 'DATA/ORIGINAL_ANCILLARY_SOURCEFILES/tomtom_congestion.xlsx'

df_tomtom = pd.read_excel(open(f_tomtom,'rb'), sheetname='tomtom', encoding = 'utf-8')

print df_tomtom.shape

(390, 10)

In [103]:
#Rename columns
df_tomtom.rename(columns = {'Congestion Level':'Congestion Level'}, inplace = True)
df_tomtom.rename(columns = {'Congestion change':'Congestion Change'}, inplace = True)
df_tomtom.rename(columns = {'Morning Peak':'Morning Peak'}, inplace = True)
df_tomtom.rename(columns = {'Evening Peak':'Evening Peak'}, inplace = True)
df_tomtom.rename(columns = {'World Rank':'Congestion Rank'}, inplace = True)

In [104]:
tag_column_names_with_datasetname(df_tomtom, 'TomTom')

list(df_tomtom)

[u'Rank by filter (TomTom)',
 'Congestion Rank (TomTom)',
 u'city name',
 u'City (orig) (TomTom)',
 u'Country (TomTom)',
 'Congestion Level (TomTom)',
 'Congestion Change (TomTom)',
 'Morning Peak (TomTom)',
 'Evening Peak (TomTom)',
 u'TomTom City (TomTom)']

In [105]:
df_tomtom.drop('Rank by filter (TomTom)', 1, inplace=True)
df_tomtom.drop('City (orig) (TomTom)', 1, inplace=True)
df_tomtom.drop('TomTom City (TomTom)', 1, inplace=True)
df_tomtom.drop('Country (TomTom)', 1, inplace=True)

In [106]:
#MERGE IN TOMTOM
print df_merge6.shape
print df_tomtom.shape

df_merge7 = pd.merge(df_merge6, df_tomtom, on=var_city, how='left')

print df_merge7.shape

(343, 128)
(390, 6)
(343, 133)

In [107]:
df_merge7.loc[~df_merge7['Congestion Level (TomTom)'].isnull(), var_city].count()

123

# Merge ancillary attributes from IESE dataset
Note: The following cities are NOT in IESE:
* London, ON (London UK is in IESE)  
* New Taipei (Taipei is in IESE and assume it refers to Taipei City and not New Taipei)
* North Vancouver (Vancouver is in IESE)  
* Santiago de Guayaquil, Ecuador (Santiago, Chile is in IESE)
* Santiago de Cali, Colombia  

**85 cities in IESE overlap with D<sup>emissions</sup>.**

In [108]:
f_iese = 'DATA/ORIGINAL_ANCILLARY_SOURCEFILES/IESE_Table12_11.xlsx'

df_iese = pd.read_excel(open(f_iese,'rb'), sheetname='IESE Tables 11 and 12', encoding = 'utf-8')
df_iese = df_iese.reset_index(drop=True)

print df_iese.shape

(180, 15)

In [109]:
tag_column_names_with_datasetname(df_iese, 'IESE')

list(df_iese)

[u'city name',
 u'country',
 u'economy (IESE)',
 u'human capital (IESE)',
 u'social cohesion (IESE)',
 u'environment (IESE)',
 u'public management (IESE)',
 u'governance (IESE)',
 u'urban planning (IESE)',
 u'international impact (IESE)',
 u'technology (IESE)',
 u'mobility and transportation (IESE)',
 u'CIMI (IESE)',
 u'CIMI Ranking (IESE)',
 u'CIMI Performance (IESE)']

In [110]:
df_iese.drop('country', 1, inplace=True)

In [111]:
#MERGE IN IESE
print df_merge7.shape
print df_iese.shape

df_merge8 = pd.merge(df_merge7, df_iese, on=var_city, how='left')

print df_merge8.shape

(343, 133)
(180, 14)
(343, 146)

In [112]:
df_merge8.loc[~df_merge8['CIMI (IESE)'].isnull(), var_city].count() #67 before
#=> 85 IESE cities overlap with emissions datasets

85

# Merge ancillary attributes from Urban Expansion dataset
Note: 'Taipei Urban Area Name' includes three data point from the CDP (Taipei City, New Taipei City and Taoyuan City).  
(CDP has both Taipei City and New Taipei City. Taipei City is an enclave of the municipality of New Taipei City.)

In [113]:
f_urban= 'DATA/ORIGINAL_ANCILLARY_SOURCEFILES/uex_prepared.tsv'

df_urban = pd.read_csv(f_urban, sep="\t", encoding = 'utf-8')
df_urban = df_urban.drop('Unnamed: 0', 1)

print df_urban.shape
df_urban.head(3)

(341, 20)

,city name,Urban Area Name,Low BUA - 1990,Low BUA â€“ 2000,Low BUA â€“ 2014,High BUA - 1990,High BUA â€“ 2000,High BUA â€“ 2014,Low BUA % - 1990,Low BUA % â€“ 2000,Low BUA % â€“ 2014,High BUA % - 1990,High BUA % â€“ 2000,High BUA % â€“ 2014,Low BUA pop density - 1990,High BUA pop density â€“ 1990,Low BUA pop density â€“ 2000,High BUA pop density - 2000,Low BUA pop density â€“ 2014,High BUA pop density - 2014
0,Buenos Aires,City of Buenos Aires Urban Area,655.1875,700.4375,731.375,1702.0625,1887.5625,2046.3125,0.277946,0.270648,0.263304,0.722054,0.729352,0.736696,1990.000000,1990.000000,425.79253,6429.729951,497.821056,7166.397159
1,Adelaide,City of Adelaide Urban Area,234.5625,244.5000,250.125,595.0000,617.6250,639.2500,0.282754,0.283602,0.281237,0.717246,0.716398,0.718763,401.928179,6206.605592,75.98208,1470.030353,74.792580,1789.259778
2,Sydney,City of Sydney Urban Area,535.4375,523.1875,504.875,1359.8750,1440.6250,1507.3125,0.282506,0.266414,0.250909,0.717494,0.733586,0.749091,103.019859,1352.728702,118.21506,2278.088318,115.533774,2743.988705

In [114]:
tag_column_names_with_datasetname(df_urban, 'UEX')

list(df_urban)

[u'city name',
 u'Urban Area Name (UEX)',
 u'Low BUA - 1990 (UEX)',
 u'Low BUA \u2013 2000 (UEX)',
 u'Low BUA \u2013 2014 (UEX)',
 u'High BUA - 1990 (UEX)',
 u'High BUA \u2013 2000 (UEX)',
 u'High BUA \u2013 2014 (UEX)',
 u'Low BUA % - 1990 (UEX)',
 u'Low BUA % \u2013 2000 (UEX)',
 u'Low BUA % \u2013 2014 (UEX)',
 u'High BUA % - 1990 (UEX)',
 u'High BUA % \u2013 2000 (UEX)',
 u'High BUA % \u2013 2014 (UEX)',
 u'Low BUA pop density - 1990 (UEX)',
 u'High BUA pop density \u2013 1990 (UEX)',
 u'Low BUA pop density \u2013 2000 (UEX)',
 u'High BUA pop density - 2000 (UEX)',
 u'Low BUA pop density \u2013 2014 (UEX)',
 u'High BUA pop density - 2014 (UEX)']

In [115]:
#MERGE IN UEX
print df_merge8.shape
print df_urban.shape

df_merge9 = pd.merge(df_merge8, df_urban, on=var_city, how='left')

print df_merge9.shape

(343, 146)
(341, 20)
(343, 165)

In [116]:
#Check
print df_merge9.loc[~df_merge9['Urban Area Name (UEX)'].isnull(), var_city].count()

341

# Merge ancillary attributes from climate dataset

In [117]:
f_clim = 'DATA/ORIGINAL_ANCILLARY_SOURCEFILES/climAll_prepared.tsv'

df_clim = pd.read_csv(f_clim, delimiter="\t", encoding = 'utf-8')

df_clim.drop('Unnamed: 0', 1, inplace=True)

print df_clim.shape
list(df_clim)

(343, 6)

[u'city name', u'lat', u'lon', u'CDD_23C', u'HDD_15.5C', u'coord source']

In [118]:
tag_column_names_with_datasetname(df_clim, 'clim')

list(df_clim)

[u'city name',
 u'lat (clim)',
 u'lon (clim)',
 u'CDD_23C (clim)',
 u'HDD_15.5C (clim)',
 u'coord source (clim)']

In [119]:
#MERGE IN UEX
print df_merge9.shape
print df_clim.shape

df_merge10 = pd.merge(df_merge9, df_clim, on=var_city, how='left')

print df_merge10.shape

(343, 165)
(343, 6)
(343, 170)

In [120]:
#Check
df_merge10.loc[~df_merge10['HDD_15.5C (clim)'].isnull(), var_city].count()

343

In [121]:
df_merge10.shape

(343, 170)

# Consolidate remaining columns
* 'lat (clim)', 
* 'lat (china)', 
* 'lon (carbonn)', 
* 'lat (carbonn)', 
* 'lon (clim)', 
* 'lon (china)', 
* 'coord source (clim)'

In [122]:
df_merge10['lat'] = np.nan
df_merge10['lon'] = np.nan
df_merge10['coord source'] = np.nan

In [123]:
#make a general column
df_merge10['lat'] = df_merge10['lat (clim)']
df_merge10['lon'] = df_merge10['lon (clim)']

df_merge10['coord source'] = df_merge10['coord source (clim)']

In [124]:
#Add lat/lon for carbonn cities
df_merge10.loc[df_merge10['Scope-1 source dataset'].str.contains('carbonn'), 'lat'] = df_merge10['lat (carbonn)']
df_merge10.loc[df_merge10['Scope-1 source dataset'].str.contains('carbonn'), 'lon'] = df_merge10['lon (carbonn)']
df_merge10.loc[df_merge10['Scope-1 source dataset'].str.contains('carbonn'), 'coord source'] = 'carbonn'

In [125]:
#Add lat/lon for chinese cities
df_merge10.loc[df_merge10['Scope-1 source dataset'].str.contains('PKU'), 'lat'] = df_merge10['lat (PKU)']
df_merge10.loc[df_merge10['Scope-1 source dataset'].str.contains('PKU'), 'lon'] = df_merge10['lon (PKU)']
df_merge10.loc[df_merge10['Scope-1 source dataset'].str.contains('PKU'), 'coord source'] = 'wikipedia'

In [126]:
#Check
df_merge10.loc[df_merge10['lat'].isnull(), [var_city, 'lat', 'Scope 1 source dataset']]
#=> ok

Empty DataFrame
Columns: [city name, lat, Scope 1 source dataset]
Index: []

In [127]:
#drop columns no longer used
df_merge10.drop('lat (clim)', 1, inplace=True)
df_merge10.drop('lon (clim)', 1, inplace=True)
df_merge10.drop('coord source (clim)', 1, inplace=True)

df_merge10.drop('lat (carbonn)', 1, inplace=True)
df_merge10.drop('lon (carbonn)', 1, inplace=True)
df_merge10.drop('lat (PKU)', 1, inplace=True)
df_merge10.drop('lon (PKU)', 1, inplace=True)

In [128]:
print df_merge10.shape

(343, 166)

# Column order

In [129]:
col_order = [
u'city name',
u'City Name (CDP)',
u'full city name (carbonn)',
u'full city name (PKU)',
'full city name (GEA)', 'full city name (UITP)', 'full city name (WB)',
u'Boundary (CDP)',
u'city_type (carbonn)',
u'definition  (WB)',
u'study_year (WB)',

u'Reporting Year (CDP)',
    
u'Scope-1 GHG emissions',
u'Scope-1 source dataset',
u'Scope-1 GHG emissions units',
u'Year of Emission',
u'Emissions Protocol',
u'Gases included (CDP)',
u'Methodology Details (CDP)',
u'Increase/Decrease from last year (CDP)',
u'Reason for increase/decrease in emissions (CDP)',
u'Scope 2 [metric ton CO2e] (CDP)',
u'Total Emissions [metric ton CO2e] (CDP)',
u'CDP2016 data edited (CDP)',
u'Emissions Quality Flag (CDP)',
u'S1 lower bound [tCO2] (CDP)',
u'S1 upper bound [tCO2] (CDP)',
u'S1 mean [tCO2] (CDP)',
u'TOT lower bound [tCO2] (CDP)',
u'TOT upper bound [tCO2] (CDP)',
u'TOT mean [tCO2] (CDP)',
u'scope fraction (CDP)',
u'CO2 Emissions Per Capita (Ton) (PKU)',
    

'City Location (CDP)',
'lat',
'lon',
'coord source',
u'country',
u'region',

u'Current Population (CDP)',
u'Current Population Year (CDP)',
u'pop (carbonn)',
u'pop_yr (carbonn)',
u'Urban Population (PKU)',
u'population (GEA)',
u'population (UITP)',
u'population (WB)',
u'population_year (WB)',
u'population (others)',
u'population (others) source year',
u'population (others) source',
u'pop_1950 (WB)',
u'pop_1990 (WB)',
u'pop_2010 (WB)',
u'growth_rate_1950-2010 (WB)',
u'growth_rate_1990-2010 (WB)',
'Ancillary from GEA+',


u'Land area (in square km) (CDP)',
u'area_size (GEA)',
u'area_size (WB)',
u'Built-up Area (km2) (PKU)',
u'area [km2] (others)',
u'area [km2] (others) source year',
u'area [km2] (others) source',
u'population_density (GEA)',
u'population_density (UITP)',
u'pop_density (WB)',
u'pop/sqrt(area_size) (GEA)',
u'pop/sqrt(area) (WB)',


u'Average altitude (m)',
u'Average annual temperature (in Celsius) (CDP)',

u'weather_station_id (GEA+)',
u'CDD_23C (GEA+)',
u'HDD_15.5C (GEA+)',
'HDD_15.5C (clim)',
'CDD_23C (clim)',



u'City GDP (CDP)',
u'GDP Currency (CDP)',
u'Year of GDP (CDP)',
u'GDP Source (CDP)',
u'GDP (carbonn)',
u'nGDP (carbonn)',
u'GDP unit (carbonn)',
u'GDP year (carbonn)',
u'GDP (10000 RMB) (PKU)',
u'Income Per Capita (RMB) (PKU)',
u'GDP-PPP [$BN] (others)',
u'GDP-PPP/cap [$USD] (others)',
u'GDP-PPP [$BN] (others) source',
'GDP-PPP year (others)',   
u'nGDP [$BN] (others)',
u'nGDP/cap [$USD] (others)',
u'nGDP [$BN] (others) source',
u'nGDP [$BN] (others) source year',
'GDP-PPP/cap (GEA)',
'GDP-PPP/cap (UITP)',
'GDP-PPP/cap (WB)',


u'total_final_consumption_per_capita (GEA)',
u'energy_per_cap_CO2 (WB)',

u'diesel_price (GEA+)',
u'gasoline_price (GEA+)',
u'center_of_commerce_index (GEA+)',
u'household_size (GEA+)',
u'year_household_size (GEA+)',
u'household_source (GEA+)',
u'comment_household_size (GEA+)',
u'urbanization_ratio (GEA+)',
u'water_bounded (GEA+)',
u'other_bounded (GEA+)',


u'mean travel time [min] (others)',
u'mean travel time ref year (others)',
u'mean travel time ref (others)',
u'diesel_price (2014) (others)',
u'gasoline_price (2014) (others)',
u'household_size (updated) (others)',
u'year_household_size (updated) (others)',
u'household_source (updated) (others)',
u'comment_household_size (updated) (others)',


'Congestion Rank (INRIX)',
 'Peak hours spent in congestion (INRIX)',
 'INRIX Congestion Index (INRIX)',
 'Average Congestion Rate (INRIX)',
 'Congestion Rank (TomTom)',
 'Congestion Level (TomTom)',
 u'Congestion Change (TomTom)',
 'Morning Peak (TomTom)',
 'Evening Peak (TomTom)',

u'economy (IESE)',
u'environment (IESE)',
u'governance (IESE)',
u'human capital (IESE)',
u'international impact (IESE)',
u'mobility and transportation (IESE)',
u'public management (IESE)',
u'social cohesion (IESE)',
u'technology (IESE)',
u'urban planning (IESE)',
u'CIMI (IESE)',
u'CIMI Ranking (IESE)',
u'CIMI Performance (IESE)',
    
u'Urban Area Name (UEX)',
u'Low BUA - 1990 (UEX)',
u'Low BUA \u2013 2000 (UEX)',
u'Low BUA \u2013 2014 (UEX)',
u'High BUA - 1990 (UEX)',
u'High BUA \u2013 2000 (UEX)',
u'High BUA \u2013 2014 (UEX)',
u'Low BUA % - 1990 (UEX)',
u'Low BUA % \u2013 2000 (UEX)',
u'Low BUA % \u2013 2014 (UEX)',
u'High BUA % - 1990 (UEX)',
u'High BUA % \u2013 2000 (UEX)',
u'High BUA % \u2013 2014 (UEX)',
u'Low BUA pop density - 1990 (UEX)',
u'High BUA pop density \u2013 1990 (UEX)',
u'Low BUA pop density \u2013 2000 (UEX)',
u'High BUA pop density - 2000 (UEX)',
u'Low BUA pop density \u2013 2014 (UEX)',
u'High BUA pop density - 2014 (UEX)',


u'Exports (m3)',
u'Production (m3)',
u'Export/Production',
u'CH4_waste/person',
u'CH4_(waste+natgas)/person',
u'corrected CH4_(waste+natgas)/person',
u'data from CIA World Fact Book for 2014'

]

print len(col_order)
print df_merge10.shape

166
(343, 166)

In [130]:
df_merge10=df_merge10[col_order]

# Remove -999
Replace with np.nan

In [131]:
attr = 'center_of_commerce_index (GEA+)'
df_merge10.loc[df_merge10[attr]==-999, attr] = np.nan

In [132]:
attr = 'comment_household_size (GEA+)'
df_merge10.loc[df_merge10[attr]==-999, attr] = np.nan

In [133]:
attr = 'comment_household_size (GEA+)'
df_merge10.loc[df_merge10[attr]=="-999", attr] = np.nan

In [134]:
attr = 'other_bounded (GEA+)'
df_merge10.loc[df_merge10[attr]==-999, attr] = np.nan

In [135]:
attr = 'other_bounded (GEA+)'
df_merge10.loc[df_merge10[attr]=="-999", attr] = np.nan

In [136]:
attr = 'water_bounded (GEA+)'
df_merge10.loc[df_merge10[attr]==-999, attr] = np.nan

In [137]:
attr = 'household_source (updated) (others)'
df_merge10.loc[df_merge10[attr]=="-999", attr] = np.nan

In [138]:
attr = 'household_source (updated) (others)'
df_merge10.loc[df_merge10[attr]==-999, attr] = np.nan

In [139]:
attr = 'household_source (GEA+)'
df_merge10.loc[df_merge10[attr]=="-999", attr] = np.nan

In [140]:
attr = 'weather_station_id (GEA+)'
df_merge10.loc[df_merge10[attr]=="-999", attr] = np.nan

# Save data

In [141]:
print df_merge10.shape

(343, 166)

In [142]:
df_merge10.to_csv('DATA/INTERMEDIATE_FILES/merged_emissions_and_ancillary_datasets.tsv', sep='\t' , encoding='utf-8')

# Continue to TechnicalValidation_qualityFlags.ipynb